<%= simple_nested_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username %>
    <%= f.input :website %>
    <%= f.input :bio %>

  </div>
  <%= f.fields_for :images do |image_form| %>
    <%= image_form.file_field :image %>
    <%= image_form.link_to_remove "Remove this image" %>
    <% end %>
    <p><%= f.link_to_add "Add an image", :images %></p>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
